/*#00010D
#010A26
#04BFBF
#027373
#04BFAD*/

/* Fuente de los botones */
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
/* Fuente del header*/
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Squada+One&display=swap');

.squada-one-regular {
    font-family: "Squada One", sans-serif;
    font-weight: 400;
    font-style: normal;
}


*{
    background-color:black ;
    margin: 0;

}



header{
    color: #04BFBF;
    font-size: 50px;
    background-color: #010A26;
    width: 100vw;
    height: 0vh;
    margin: 0px;
    padding: 0px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Squada One', sans-serif;

}

button{
    background-color: rgb(37, 24, 218);
    height: 10vh;
    width: 320px;
    color: #04BFBF;
    font-size: 20px;
    font-family: 'Anton SC', sans-serif;
}

.navegacion{
    margin-top: 10vh;
    display: flex;
    height: 10vh;
    width: 50px;
    justify-content: space-evenly; 
    background-color: rgb(37, 24, 218);
    display: flex;
    height: 10vh;
    width: 50px;
    justify-content: space-evenly; 
    background-color: rgb(37, 24, 218);
}


.recuadros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
}
.recuadro {
    width: 25vw;
    height: 70vh;
    margin: 10px;
}
.azul {
    background-color: blue;
}

.imagenismael{
    height: 10vh;
}