/*#00010D
#010A26
#04BFBF
#027373
#04BFAD*/

/* Fuente de los botones */
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
/* Fuente del header*/
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Squada+One&display=swap');

.squada-one-regular {
    font-family: "Squada One", sans-serif;
    font-weight: 400;
    font-style: normal;
}


*{
    background-color:black ;
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

header{
    color: #04BFBF;
    font-size: 50px;
    background-color: #010A26;
    width: 100vw;
    height: 0vh;
    margin: 0px;
    padding: 0px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Squada One', sans-serif;
}

button{
    background-color: rgb(37, 24, 218);
    height: 10vh;
    width: 16.7vw;
    color: #04BFBF;
    font-size: 20px;
    font-family: 'Anton SC', sans-serif;
}

.navegacion{
    margin-top: 10vh;
    display: flex;
    height: 100vh;
    width: 50vw;
    justify-content: space-evenly; 
    background-color: rgb(37, 24, 218);
    display: flex;
    height: 10vh;
    justify-content: space-evenly; 
    background-color: rgb(37, 24, 218);
}

.recuadrosropa {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
}
.recuadroazul {
    width: 25vw;
    height: 70vh;
    margin: 10px;
    background-color: #04BFBF;
}

.imagenesropa {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 50px;
    height: 55vh;
    width: 22.5vw;
    
    opacity: 0; /* Invisibles inicialmente */
    transform: translateX(100%); /* Fuera de la pantalla a la izquierda */
    transition: all 1s ease-out; /* Transición suave */
    animation: aparecer 3s forwards;
}

@keyframes aparecer {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


.redireccion{
    background-color:#04BFBF;
    color: #010A26;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    text-decoration: none;
    margin: 120px;
}

.camiseta{
    margin-left: 50px;
    margin-right: 25px;
    margin-top: 50px;
    height: 55vh;
    width: 20vw;
    
    opacity: 0; /* Invisibles inicialmente */
    transform: translateX(100%); /* Fuera de la pantalla a la izquierda */
    transition: all 1s ease-out; /* Transición suave */
    animation: aparecer 3s forwards;
}