/*#00010D
#010A26
#04BFBF
#027373
#04BFAD*/

/* Fuente de los botones */
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
/* Fuente del header*/
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Squada+One&display=swap');

.squada-one-regular {
    font-family: "Squada One", sans-serif;
    font-weight: 400;
    font-style: normal;
}


*{
    background-color:black ;
    margin: 0;
    padding: 0;
}


header{
    color: #04BFBF;
    font-size: 50px;
    background-color: #010A26;
    width: 100vw;
    height: 0vh;
    margin: 0px;
    padding: 0px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Squada One', sans-serif;
}

button{
    background-color: rgb(37, 24, 218);
    height: 10vh;
    width: 20vw;
    color: #04BFBF;
    font-size: 20px;
    font-family: 'Anton SC', sans-serif;
}

.navegacion{
    margin-top: 10vh;
    display: flex;
    height: 100vh;
    width: 50vw;
    justify-content: space-evenly; 
    background-color: rgb(37, 24, 218);
    display: flex;
    height: 10vh;
    justify-content: space-evenly; 
    background-color: rgb(37, 24, 218);
}

/* Estilo general para la sección de textos */
.textosobrenosotros {
    font-family: Arial, sans-serif; /* Fuente general */
    line-height: 1.6; 
    margin: 20px; 
    padding: 20px; 
}

/* Estilo para los encabezados */
.textosobrenosotros h1, .textosobrenosotros h2 {
    color: #333; 
    transition: color 0.3s ease, transform 0.3s ease; /* Transición de color y transformación */
}

/* Efecto al pasar el ratón sobre los encabezados */
.textosobrenosotros h1:hover, .textosobrenosotros h2:hover {
    color: #007BFF; /* Cambia el color al pasar el ratón */
    transform: scale(0.96); /* disminuye ligeramente el tamaño */
}

/* Estilo para la lista */
.flex-item ul {
    list-style-type: disc; 
    padding-left: 20px; 
}

/* Estilo para los elementos de la lista */
.flex-item li {
    margin-bottom: 10px; /* Espaciado entre elementos de la lista */
    transition: transform 0.3s ease, color 0.3s ease; /* Transición para el efecto de movimiento y color */
    color: #555; /* Color del texto de la lista */
}

/* Efecto al pasar el ratón sobre los elementos de la lista */
.flex-item li:hover {
    transform: translateX(5px); /* Mueve el texto ligeramente a la derecha */
    color: #007BFF; /* Cambia el color al pasar el ratón */
}

/* Estilo para el contenedor de la lista */
.flex-container {
    margin-top: 20px; /* Espaciado superior */
}

/* Estilo para los párrafos */
.textosobrenosotros p {
    margin: 10px 0; /* Margen superior e inferior */
    color: #666; /* Color del texto */
    transition: color 0.3s ease; /* Transición de color */
}

