/*#00010D
#010A26
#04BFBF
#027373
#04BFAD*/

/* Fuente de los botones */
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
/* Fuente del header*/
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Squada+One&display=swap');

.squada-one-regular {
    font-family: "Squada One", sans-serif;
    font-weight: 400;
    font-style: normal;
}


*{
    background-color:black ;
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

header{
    color: #04BFBF;
    font-size: 50px;
    background-color: #010A26;
    width: 100vw;
    height: 0vh;
    margin: 0px;
    padding: 0px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Squada One', sans-serif;
}

button{
    background-color: rgb(37, 24, 218);
    height: 10vh;
    width: 16.7vw;
    color: #04BFBF;
    font-size: 20px;
    font-family: 'Anton SC', sans-serif;
}

.navegacion{
    margin-top: 10vh;
    display: flex;
    height: 100vh;
    width: 50vw;
    justify-content: space-evenly; 
    background-color: rgb(37, 24, 218);
    display: flex;
    height: 10vh;
    justify-content: space-evenly; 
    background-color: rgb(37, 24, 218);
}

.enviar{
    color: #04BFBF;
}

input{
    background-color: white;
}

textarea{
    background-color: white;
}

.formulario{
    color:#04BFBF;
    margin-top: 20px;
    display: flex;
    flex-direction:row;
    margin: 10px;
    gap: 30px;
    width: 100vw;
    height: 60vh;
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}
footer{
    color: #04BFBF;
    text-align: center;
}

@media (max-width: 768px) {
    header, a {
      font-size: 30px;
    }
    button{
      background-color: rgb(37, 24, 218);
      height: 10vh;
      width: 16.7vw;
      color: #04BFBF;
      font-size: 15px;
      font-family: 'Anton SC', sans-serif;
  }
  
  .navegacion{
      margin-top: 10vh;
      display: flex;
      height: 100vh;
      width: 50vw;
      justify-content: space-evenly; 
      background-color: rgb(37, 24, 218);
      display: flex;
      height: 10vh;
      justify-content: space-evenly; 
      background-color: rgb(37, 24, 218);
  }
    img {
      width: 40vw;
      height: 60vh;
    }
    .cuerpoprincipal {
      height: 20vh;
    }
    .izquierda, .derecha {
      width: 50vw;
      height: 50vh;
    }
    .foto {
      width: 50vw;
      height: 20vh;
    }
  } 
  
  @media (max-width: 480px) {
   
    header, a {
      margin-top: 20px;
      font-size: 20px;
    }
    button {
      height: 7vh;
      width: 100vw;
      font-size: 15px;
      flex-direction: column;
      flex-wrap: wrap;
    }
    .navegacion {
      background-color: black;
      flex-direction: column;
      height: 60vh;
      width: 100vw;
      margin-top: 10vh;
      background-image: url('/image/fotoGuateleta.jpg');
      font-align: left;
    }
    img {
      width: 60vw;
      height: 30vh;
    }
    .cuerpoprincipal {
      height: 15vh;
    }
    .izquierda, .derecha {
      width: 80vw;
      height: 30vh;
    }
    .foto {
      width: 80vw;
      height: 15vh;
    }
  }